
#cke_1_contents{
    height: 80px !important; 
    
}

/*body { background-image: linear-gradient(white, #000ca2); }*/

#header-fon{
    background: url('../image/white-scratone.png');
}

body {
    background: url('../image/white-buds.png');
}

/*#foto_profile{
    margin-left: 10%;
}*/

#bookmark{
    position: relative;
}

#bg_profile{
    position: relative;
}
#bg_showhite{
    display: none;
    position: relative;
    margin-top: -45px;
    left: 92%;
    z-index: 3;
} 

#foto_name_profile{
    position: relative;
}

#avatar_showhite{
    display: none;
    position: relative;
    margin-top: -30px;
    left: 92%;
    z-index: 3;
}

.avatar {
    margin-top: -60px;
    margin-left: 10%;
    z-index: 2;
    vertical-align: middle;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.avatar1 {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.fio{
    margin-top: -80px;
    margin-left: 35%;
}

#profile_info{
    
}

#sort_news{
    font-size: 12px;
    margin-bottom: 0;
}

#admin_menu{
    margin: 8px;
}

.resiver{
    background: #72acf0;
}

.sender{
    background: #65ceca;
}
.m_time{
    float:right;
    font-size: 12px;
    color: #250934;
    right: -12px;
}

.textlast{
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    text-overflow: ellipsis; /* Многоточие */
}

.card-body img{
    width: 100% important!;
}


/*для буфера*/
 .tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #f70000;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
/*----*/
